*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
    font-weight: 500;
	color: #252B42;
    font-family: Montserrat;
    background-color: #fafafa;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1045px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* -------------------- header -------------------- */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 478.98px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
    line-height: 32px;
}

.header__menu {
    margin: 0 0 0 132px;
}

@media (max-width: 991.98px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}

@media (max-width: 767.98px) {
    .header__menu {
        margin: 0 0 0 40px;
    }
}

@media (max-width: 478.98px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

.menu__link:hover {
    text-decoration: underline;
}

@media (max-width: 478.98px) {
    .menu__link {
        font-size: 17px;
        color: #515151;
    }
}

/* -------------------- main -------------------- */

.page {
    flex: 1 1 auto;
}

.page__services {
    margin: -111px 0 0 0;
    position: relative;
    z-index: 2;
}

.header-block {
    text-align: center;
}

.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    margin: 0 0 10px 0;
}

@media (max-width: 633px) {
    .header-block__title {
        font-size: 32px;
    }
}

.header-block__subtitle {
    line-height: calc(20 / 14 * 100%);
    color: #737373;
}

.page__clients {
    margin: 0 0 20px 0;
}

/* -------------------- main-block -------------------- */

.main-block {
    position: relative;
}

.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 3;
    max-width: 403px;
}

@media (max-width: 991.98px) {
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}

@media (max-width: 478.98px) {
    .main-block__body {
        padding: 105px 0 160px 0;
    }
}

.main-block__body > *:not(:last-child) {
    margin: 0 0 35px 0;
}

.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
}

@media (max-width: 478.98px) {
    .main-block__title {
        font-size: 43px;
    }
}

.main-block__text {
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: #737373;
}

@media (max-width: 478.98px) {
    .main-block__text {
        color: #515151;
    }
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    border-radius: 37px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    font-weight: 700;
    line-height: calc(21 / 14 * 100%);
    text-align: center;
    margin: 10px 0;
    transition: all 0.5s ease 0s;
}

@media (max-width: 478.98px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}
@media (min-width: 478.98px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block__button_orange {
    background: #FF7B47;
    color: #FFFFFF;
}

.main-block__button_orange:hover {
    background-color: #FFFFFF;
    color: #FF7B47;
}

.main-block__button_border {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}

.main-block__button_border:hover {
    background-color: #0D5C63;
    color: #FFFFFF;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1440px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 991.98px) {
    .main-block__image {
        opacity: 0.4;
    }
}

/* -------------------- services -------------------- */

@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}

.services__column {
    flex: 0 1 33.333%;
    
}

@media (min-width: 670px) {
    .services__column {
        padding: 0 15px;
    }
}

@media (max-width: 991.98px) {
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:not(:last-child) {
        margin: 0 0 30px 0;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }
}

.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    padding: 35px;
}

.item-servise_green {
    background-color: #0D5C63;
}

.item-servise_green .item-servise__title {
    color: #ffffff;
}

.item-servise_green .item-servise__text {
    color: #ffffff;
}

.item-servise > *:not(:last-child) {
    margin: 0 0 10px 0;
}

.item-servise__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
}

.item-servise__text {
    line-height: calc(20 / 14 * 100%);
    color: #737373;
}

/* -------------------- advantages -------------------- */

.advantages {
    padding: 80px 0;
}

@media (max-width: 991.98px) {
    .advantages {
        padding: 60px 0;
    }
}

@media (max-width: 633px) {
    .advantages {
        padding: 45px 0;
    }
}

.advantages__header {
    margin: 0 0 50px 0;
}

@media (max-width: 633px) {
    .advantages__header {
        margin: 0 0 30px 0;
    }
}

.advantages__body {
    margin: 0 -15px -30px;
    display: flex;
    flex-wrap: wrap;
}

.advantages__column {
    padding: 0 15px;
    flex: 0 1 25%;
    margin: 0 0 30px 0;
}

@media (max-width: 1027px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 633px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages__item {
    background-color: #ffffff;
    padding: 30px;
    font-weight: 700;
    text-align: center;
}

.advantages__item > *:not(:last-child) {
    margin: 0 0 10px 0;
}

.advantages__value {
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
}

.advantages__text {
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    color: #737373;
}

/* -------------------- practice -------------------- */

.practice {
    padding: 80px 0 70px 0;
}

@media (max-width: 991.98px) {
    .practice {
        padding: 60px 0 40px 0;
    }
}

@media (max-width: 767.98px) {
    .practice {
        padding: 0 0 30px 0;
    }
}

.practice__header {
    margin: 0 0 45px 0;
}

@media (max-width: 767.98px) {
    .practice__header {
        margin: 0 0 35px 0;
    }
}

@media (max-width: 633px) {
    .practice__header {
        margin: 0 0 20px 0;
    }
}

.practice__body {
    margin: 0 -20px -40px;
    display: flex;
    flex-wrap: wrap;
}

.pracice__column {
    padding: 0 20px;
    flex: 0 1 25%;
    margin: 0 0 40px 0;
}

@media (max-width: 1027px) {
    .pracice__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 633px) {
    .pracice__column {
        flex: 0 1 100%;
    }
}

.item-practice {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice__link {
    color: inherit;
    display: inline-block;
}

.item-practice__link:not(:last-child) {
    margin: 0 0 15px 0;
}

.item-practice__link:hover {
    text-decoration: underline;
}

.item-practice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
}

.item-practice__text {
    line-height: calc(20 / 14 * 100%);
    color: #737373;
}

.item-practice__image {
    padding: 0 0 60% 0;
    display: block;
}

/* -------------------- whoweare -------------------- */

.whoweare {
    background-color: #ffffff;
    padding: 100px 0 136px 0;
}

.whoweare__header {
    margin: 0 0 100px 0;
}

.whoweare__body {
    display: flex;
    align-items: flex-start;
}

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.3% 0;
}

.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
}

.whoweare__top:not(:last-child) {
    margin: 0 0 50px 0;
}

.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
}

.whoweare__title:not(:last-child) {
    margin: 0 0 10px 0;
}

.whoweare__text {
    line-height: calc(20 / 14 * 100%);
    color: #737373;
}

.item-whoweare {
    display: flex;
}

.item-whoweare:not(:last-child) {
    margin: 0 0 30px 0;
}

.item-whoweare__icon {
    flex: 0 0 32px;
}

.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}

.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
}

.item-whoweare__title:not(:last-child) {
    margin: 0 0 5px 0;
}

.item-whoweare__text {
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    color: #737373;
    white-space: nowrap;
    width: 222px;
    overflow: hidden;
    text-overflow: ellipsis;

}

@media (max-width: 1075px) {
    .whoweare__content {
        padding: 0 0 0 50px;
    }
}

@media (max-width: 999px) {
    .item-whoweare__title {
        font-weight: 700;
        font-size: 15px;
        line-height: calc(23 / 15 * 100%);
    }
}

@media (max-width: 991.98px) {
    .whoweare {
        padding: 50px 0 68px 0;
    }
    .whoweare__header {
        margin: 0 0 40px 0;
    }
    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .whoweare__content {
        padding: 0 0 0 0;
    }
    .whoweare__video {
        margin: 30px 0 0 0;
    }
    .whoweare__video:not(:last-child) {
        padding: 0 0 56.3% 0;
    }
}

@media (max-width: 633px) {
    .whoweare {
        padding: 40px 0 40px 0;
    }
    .whoweare__header {
        margin: 0 0 30px 0;
    }
    .whoweare__top:not(:last-child) {
        margin: 0 0 30px 0;
    }
    .whoweare__title {
        font-size: 32px;
    }
}

/* -------------------- clients -------------------- */

.clients {
    padding: 50px 0;
}

@media (max-width: 991.98px) {
    .clients {
        padding: 40px 0;
    }
}

@media (max-width: 767.98px) {
    .clients {
        padding: 30px 0;
    }
}

.clients__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.clients__item {
    padding: 8px 15px;
    flex: 0 1 16.667%;
    text-align: center;
    min-width: 140px;
}

.clients__item img {
    max-width: 100%;
}

/* -------------------- subscribe -------------------- */

.subscribe {
    position: relative;
    padding: 0 0 20px 0;
}

.subscribe__body {
    padding: 30px 50px;
    align-items: center;
    background-color: #17213C;
    border-radius: 2px;
    position: relative;
    z-index: 2;
}

.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    color: #ffffff;
}

.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    text-align: center;
    min-height: 58px;
}

.subscribe__input {
    width: 100%;
    flex: 1 1 auto;
    padding: 0 20px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}

.subscribe__input:focus {
    color:#FF7B47;
    font-size: 16px;
}

.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 22.5px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(28 / 14 * 100%);
    color: #FFFFFF;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.subscribe__button:hover {
    background-color: #0D5C63;
}

@media (max-width: 767.98px) {
    .subscribe__body {
        margin: 0 -15px;
        padding: 20px 15px;
    }    
    .subscribe__title {
        margin: 0 0 23px 0;
    }
    .subscribe__button {
        padding: 0 15px;
    }

    .subscribe__input {
        padding: 0 15px;
    }
}

@media (min-width: 1075px) {
    .subscribe__body {
        margin: 0 30px;
    }
}

@media (min-width: 767.98px) {
    .subscribe::before {
        content: "";
        background-color: #252B42;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 77px;
    }
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
    .subscribe__title {
        max-width: 266px;
    }
}

/* -------------------- getintouch -------------------- */

.getintouch {
    padding: 80px 0 136px 0;
    background-color: #F3F3F3;
}

.getintouch__header {
    margin: 0 0 80px 0;
}

.getintouch__items {
    margin: 0 -15px;
}

.getintouch__item {
    flex: 0 1 33.333%;
}

.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 50px 15px;
}

.item-getintouch > *:not(:last-child) {
    margin: 0 0 15px 0;
}

.item-getintouch_activ {
    background-color: #252B42;
    color: #FFFFFF;
    padding: 80px 15px;
}

.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

.item-getintouch__email:hover {
    text-decoration: underline;
}

.item-getintouch__label {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
}

.item-getintouch__button {
    min-height: 44px;
    border: 1px solid #FF7B47;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    color: #FF7B47;
    padding: 5px 20px;
    transition: all 0.5s ease 0s;
}

.item-getintouch__button:hover {
    background-color: #FF7B47;
    color: #FFFFFF;
}

.item-getintouch_activ .item-getintouch__button {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.item-getintouch_activ .item-getintouch__button:hover {
    background-color: #FFFFFF;
    color: #252B42;
}

@media (max-width: 991.98px) {
    .getintouch {
        padding: 50px 0 0 0;
    }
    .getintouch__header {
        margin: 0 0 40px 0;
    }
    .item-getintouch_activ {
        padding: 50px 15px;
    }
}

@media(min-width: 991.98px) {
    .getintouch__items {
        display: flex;
        align-items: center;
        margin: 0;
    }  
}

/* -------------------- contact -------------------- */

.contact {
    padding: 40px 0;
    background-color: #FAFAFA;
}

@media(max-width: 991.98px) {
    .contact {
        padding: 60px 0 40px 0;
    }
}

.contact__content {
    padding: 0 0 25px 0;
}

@media(min-width: 767.98px) {
    .contact__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact__content {
        padding: 0 25px 0 0;
    }
}

.contact__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
}

.contact__title:not(:last-child) {
    margin: 0 0 10px 0;
}

.contact__text {
    color: #737373;
    line-height: calc(20 / 14 * 100%);
}

.contact__button {
    display: flex;
    background-color: #FF7B47;
    border-radius: 5px;
    min-height: 58px;
    justify-content: center;
	align-items: center;
    text-align: center;
    padding: 5px 40px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: calc(28 / 14 * 100%);
    transition: background-color 0.5s ease 0s;
}

.contact__button:hover {
    background-color: #252B42;
}

/* -------------------- footer -------------------- */

.footer__top {
    background-color: #17213C;
    padding: 35px 0;
}

.footer__row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.footer__column {
    flex: 0 1 16.667%;
    padding: 15px 15px;
}

.footer__column:last-child {
    flex: 0 1 33.333%;
}

@media (max-width: 991.98px) {
    .footer__column {
        flex: 0 1 25%;
    }
    .footer__column:last-child {
        flex: 1 1 100%;
    }
}

@media (max-width: 700px) {
    .footer__column {
        flex: 0 1 50%;
    }
}

.footer__label {
    color: #FFFFFF;
    font-weight: 700;
    line-height: calc(24 / 16 * 100%);
    font-size: 16px;
    margin: 0 0 20px 0;
}

.menu-footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}

.menu-footer__link {
    color: #FFFFFF;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    display: inline-block;
}

.menu-footer__link:hover {
    text-decoration: underline;
}

.contacts-footer {
    display: flex;
    flex-direction: column;
}

.contacts-footer__item {
    padding: 0 0 0 34px;
    display: flex;
    align-items: center;
    min-height: 30px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

.contacts-footer__item:hover {
    text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
    margin: 0 0 12px 0;
}

.contacts-footer__item_phone {
    background: url(assets/img/footer-1-1.svg) 0 0 no-repeat;
}

.contacts-footer__item_map {
    background: url(assets/img/footer-1-2.svg) 0 0 no-repeat;
}

.contacts-footer__item_email {
    background: url(assets/img/footer-1-3.svg) 0 0 no-repeat;
}

.footer__bottom {
    padding: 25px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 767.98px) {
    .footer__container {
        flex-direction: column;
    }
    .footer__copy:not(:last-child) {
        margin: 0 0 15px 0;
        text-align: center;
    }
}

.social {
    display: flex;
    align-items: center;
}

.social__item:not(:last-child) {
    margin: 0 20px 0 0;
}

.footer__copy {
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    color: #737373;
}